<li *ngFor='let item of node;let i = index;' [ngClass]="{'selected' : item.selected}">
  <a  *ngIf="(!item?.children) || (item.children.length == 0)" (click)="textClick(item , $event ,i , false)">
    <span class="nav-text" title="{{item.name}}">
      {{item.name}}
    </span>
  </a>
  <a  *ngIf="item.children && item.children.length !== undefined && item.children.length !== 0" (click)="liClick(item , i)">
    <span class="nav-text" title="{{item.name}}">
      <span>
        {{item.name}}
      </span>
    </span>
  </a>
  <ul class="nav-sub" *ngIf="item.children" [hidden]="!item.active">
    <app-nav-list [istrue]="istrue" [node]="item.children" [textField]="textField" [showName]="showName" (nodeClick)="onNodeClick($event)"></app-nav-list>
  </ul>
</li>