<ul class = "list">
  <li *ngFor="let item of list;let i = index;" [ngClass]="{'active': active == i}" (click)="checkTab(i)" (contextmenu)='onRightMenus($event,item)'>
    <span>{{item.name}}</span>
    <div *ngIf="active == i">
      {{item.text}}
    </div>
  </li>
</ul>

<ul id="rightMenusNav"  class = "rightMenusNav" [ngStyle]="{'left':navLeft,'top': navTop}">
  <li *ngFor='let btn of alongBtns' (click) = "btnRightClick(btn.btnKey)">
    <a class="aNot" [ngStyle]="{padding: btn.btnKey=='-'?'0px 20px':'8px 20px' }">{{btn.btnName}}</a>
  </li>
</ul>