.list{
  list-style: none;
  height: 40px;
  border: 1px solid #ddd;
  width: 300px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  position: relative;
}
.list li{
  padding: 0;
  margin: 0;
  float: left;
  width: 100px;
  cursor: pointer;
  text-align: center;
}
.list li.active{
  color: blue;
  background: pink;
}

.list div{
  border: 1px solid #ddd;
  width: 300px;
  height: 200px;
  margin-top: 10px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  left:0;
}
.rightMenusNav {
  padding: 0;
  margin:0;
  list-style: none;
  border: 1px solid #ddd;
  width: 120px;
   position: fixed;
  z-index: 2;
  display: none;
  background: #fff;
}
.rightMenusNav li{
 padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: left;
}
.rightMenusNav  li:hover{
background: #f00;
}
